:root {
  --brand-button-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --color-for-text-headings: #2e2f42;
  --succes-color: #31d0aa;
  --main-text-color: #434455;
  --other-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-mode-bckgrounds: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}
/* Main page */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* Logo styles */
.logo-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-item {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
/* Header navigation */
.nav-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style: none;
}
.nav-item {
  text-decoration: none;
}
/* Addres list */
.addres-part {
  font-family: "Roboto";

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  letter-spacing: 0.02em;

  color: #434455;
}
.addres-item {
  text-decoration: none;
}
.addres-list {
  font-style: normal;
  list-style: none;
}
